[submodule "modules/base/admin_menu"]
	path = modules/base/admin_menu
	url = https://github.com/drupalprojects/admin_menu.git
	branch = 7.x-3.x
[submodule "modules/base/ctools"]
	path = modules/base/ctools
	url = https://github.com/drupalprojects/ctools.git
	branch = 7.x-1.x
[submodule "modules/base/ds"]
	path = modules/base/ds
	url = https://github.com/drupalprojects/ds.git
	branch = 7.x-2.x
[submodule "modules/base/eck"]
	path = modules/base/eck
	url = https://github.com/drupalprojects/eck.git
	branch = 7.x-2.x

[submodule "modules/dev/backup_migrate"]
	path = modules/dev/backup_migrate
	url = https://github.com/drupalprojects/backup_migrate.git
	branch = 7.x-3.x
[submodule "modules/dev/devel"]
	path = modules/dev/devel
	url = https://github.com/drupalprojects/devel.git
	branch = 7.x-1.x
[submodule "modules/dev/schema"]
	path = modules/dev/schema
	url = https://github.com/drupalprojects/schema.git
	branch = 7.x-1.x
[submodule "themes/admin/shiny"]
	path = themes/admin/shiny
	url = https://github.com/drupalprojects/schema.git
	branch = 7.x-1.x
